<!DOCTYPE HTML>
<head>
<meta http-equiv = "Content-Type" content = "text/html; charset = utf-8" />
<meta name = "viewport" content = "width = device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable = 0">
<title> = 404</title>
<link rel = "icon" type = "image/png" sizes = "16x16" href = "/static/plugins/images/favicon.png">
</head>

<body>
	<div class = "box">
		<div class = 'newContent'>			
			<p><br/></p>
			<p><br/></p>
			<p><br/></p>
			<p><br/></p>
			<p><br/></p>			
			<p style = 'text-align:center;'>
				<img src = '/static/images/pageNotFound.png' alt = ''></img>
			</p>			
			<div style = 'text-align:center; font-size:16px; line-height:30px; color:#333333;'>
				很抱歉，您访问的页面不存在！
			</div>			
			<div style = 'text-align:center; font-size:16px; line-height:30px; color:#333333;'>
				请仔细检查您输入的网址是否正确。
			</div>			
			<a href = '/' style = 'text-align:center; color:#333; font-size:13px; text-decoration:none; width:100px; height:32px; line-height:32px; border:1px solid #E3E2E8; display:block; margin:30px auto;'>返回首页</a>
			<p><br/></p>
		</div>
	</div>
</body>
</html>